@charset "utf-8";

noto-sans-uniquifier {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

sixtyfour-uniquifier {
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: 0;
    color: #555;
}

img {
    border: 0;
}

body {
    width: 100%;
    min-width: 1400px;
    height: 23000px;
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    /* letter-spacing: 2px; */
}

/* 본문 */

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../img/lego_bg.jpg) no-repeat;
    background-size: cover;
    background-position: calc(80%);
    opacity: 1;
}

h1 {
    position: fixed;
    top: 30px;
    left: 50px;
    z-index: 2;
}

h1 a {
    display: block;
}

h1 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

ul.gnb {
    position: fixed;
    top: 30px;
    right: 220px;
    z-index: 2;
}

.gnb li {
    float: left;
    margin-left: 50px;
}

.gnb li a {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    transform: scale(1);
    opacity: 0.5;
    transition: all 0.5s;
}

.gnb a:hover {
    transform: scale(1.5);
    opacity: 1;
}

.sns {
    position: fixed;
    display: flex;
    gap: 25px;
    /* flex-basis: fill; */
    top: 32px;
    right: 50px;
    z-index: 2;
}

.sns .fa {
    font-size: 20px;
    color: #fff;
    transform: scale(1);
    opacity: 0.5;
    transition: all 0.5s;
}

.sns .fa:hover {
    transform: scale(1.5);
    opacity: 1;
}

.scrollNavi {
    position: fixed;
    bottom: 10%;
    left: 100px;
    z-index: 2;
}

.scrollNavi li {
    position: relative;
    width: 150px;
    height: 35px;
    margin-bottom: 20px;
    /* color: #fff; */
    text-align: center;
    perspective: 400px;
    cursor: pointer;
}

.scrollNavi li span {
    display: block;
    width: 3%;
    height: 100%;
    position: absolute;
    transform: skewX(-40deg);
    box-shadow: 1 1 1 #000;
    background-color: rgba(255, 255, 255, 0.7);
}

ul.scrollNavi li.on span {
    width: 100%;
}

ul.scrollNavi em {
    position: absolute;
    top: 3px;
    left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

section {
    width: 1200px;
    height: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -350px 0 0 -600px;
    perspective: 2300px;
    z-index: 1;
}

section>article {
    width: 1200px;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 10;
    transition: all 0.6s;
}

section>article.on {
    opacity: 1;
    z-index: 11;
}

section>article:first-child {
    transform: translateZ(0);
}

section>article:nth-child(2) {
    transform: translateZ(-5000);
}

section>article:nth-child(3) {
    transform: translateZ(-10000);
}

section>article:nth-child(4) {
    transform: translateZ(-15000);
}

section>article:nth-child(5) {
    transform: translateZ(-20000);
}

section img {
    position: absolute;
    width: auto;
    height: 700px;
}

section>article>p {
    position: absolute;
    width: 600px;
    /* padding: 30px; */
    color: #fff;
    opacity: 1;
    /* background-color: #888; */
}

section>article>p>span {
    font-family: "Sixtyfour", sans-serif;
    font-size: 48px;
    letter-spacing: -0.1em;
    line-height: 1.7;
}

section>article>p>em {
    display: inline-block;
}

/* 첫번째 */
section>article:first-child p {
    bottom: 50px;
    right: -320px;
}

section>article:first-child span {
    color: #fff;
}

.obj13 {
    bottom: 20px;
    left: -100px;
}

/* 두번째 */
section>article:nth-child(2) p {
    bottom: 200px;
    left: 100px;
}

section>article:nth-child(2) span {
    color: #fff;
}

.obj22 {
    bottom: -100px;
    right: -50px;
}

.copyright {
    position: fixed;
    bottom: 30px;
    right: 50px;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    color: #ccc;
}